<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gracias por Registrarte</title>
</head>
<body>
    <h1>{{nombre}} Gracias por Registrarte </h1>
<div class="header">¡Bienvenido a Disco Rock! 🎶</div>
        <div class="message">
            Gracias por registrarte en nuestra plataforma. 
        </div>
        Comienza a Explorar
        <div class="footer">
            <img src="cid:Img" alt="">
            Si tienes alguna pregunta, no dudes en contactarnos. <br>
            Disco Rock &copy; 2024
        </div>
</body>
</html>